<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>

    {{>navbar}}

    <div class="content">

        <div class="section1">
            <div class="image"><img src="static/image1.png" class="images" alt=""></div>
            <div class="paragraph">
                <div class="grow heading1">Lets Grow Together</div>
                <div class="visit heading1">Come visit Us</div>
            </div>
        </div>

        <div class="section2">
            <div class="image"><img src="static/image2.png" class="images" alt=""></div>
            <div class="paragraph">
                <div class="grow heading1">Get Personalised Training</div>
                <div class="visit heading1">Mentored by Top Leaders</div>
            </div>
        </div>

        <div class="section3">
            <div class="image"><img src="static/image3.png" class="images" alt=""></div>
            <div class="paragraph">
                <div class="grow heading1">And Many More Benifits</div>
                <div class="visit heading1">Join us Now</div>
                <button type="button" id="btn">Join</button>
            </div>
        </div>

    </div>
    <div class="Cards">

        <div class="cards card1">
            <img class="imagecard" src="static/image4.jpg" alt="">
            <p>This is very important for us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                pariatur modi, eligendi totam numquam reprehenderit. Maxime provident deserunt explicabo eaque.</p>
        </div>

        <div class="cards card2">
            <img class="imagecard" src="static/image5.jpg" alt="">
            <p>This is very important for us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                pariatur modi, eligendi totam numquam reprehenderit. Maxime provident deserunt explicabo eaque.</p>
        </div>

        <div class="cards card3">
            <img class="imagecard" src="static/image6.jpg" alt="">
            <p>This is very important for us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                pariatur modi, eligendi totam numquam reprehenderit. Maxime provident deserunt explicabo eaque.</p>
        </div>

        <div class="cards card4">
            <img class="imagecard" src="static/image7.jpg" alt="">
            <p>This is very important for us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                pariatur modi, eligendi totam numquam reprehenderit. Maxime provident deserunt explicabo eaque.</p>
        </div>

        <div class="cards card5">
            <img class="imagecard" src="static/image8.jpg" alt="">
            <p>This is very important for us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                pariatur modi, eligendi totam numquam reprehenderit. Maxime provident deserunt explicabo eaque.</p>
        </div>

        <div class="cards card6">
            <img class="imagecard" src="static/image9.jpg" alt="">
            <p>This is very important for us. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                pariatur modi, eligendi totam numquam reprehenderit. Maxime provident deserunt explicabo eaque.</p>
        </div>
    </div>

    {{>footer}}

    <script src="../static/index.js"></script>
</body>

</html>